$font-family: 'Droid Sans', Arial, sans-serif;
$headings-font-family: 'BebasNeueRegular', Arial, sans-serif;
$font-size: 14px;

$grid-columns: 48;
$max-width: 960px;
$margin-bottom: 1.25rem;

$media-type: max-width;
$media-desktop: 960px;
$media-tablet: 769px;
$media-phone: 520px;

$red: #ac0101;
$yellow: #eed500;
$black: #000;
$grayDark: #333;
$gray: #666;
$grayLight: #999;
$grayLighter: #f5f5f5;  
$white: #fff;

$color-brand: #ac0101;
$color-success: #679b23;
$color-alert: #d65223;

$zindexModalBackdrop:     1040;
$zindexModal:             1050;